body {
  background-image: url('./passport.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}

.airplane {
  background-image: url(./airplane.jpg);
}

.error {
  display: none;
  color: red;
  font-family: 'Open Sans', sans-serif;
  margin-top: 12px;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.underline {
  background: white;
  height: 1px;
  width: 90%;
  opacity: .5;
}

.logo {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

#destination, #email, #thank, #submitting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  display: none;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero-text {
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-weight: 200;
  margin-bottom: 0;
  word-wrap: break-word;
  text-align: center;
}

.hero-description {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  word-wrap: break-word;
  text-align: center;
}

#thank, #submitting {
  display: none;
}

button {
  margin-top: 24px;
  background-color: #d22f25;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

button:hover {
  background-color: #e9352a;
}

button:focus {
  outline: none;
}

input {
  border: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
  color: #fff;
  font-size: 24px;
}

input:focus {
  outline: none;
}

footer {
  width: 100%;
  background: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: darkgrey;
}

.footer p {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .hero-text {
    font-size: 40px;
  }

  .hero-description {
    font-size: 24px;
  }
}